/* Media query for smaller screens */
@media (max-width: 768px) {
    main {
        display: flex;
        flex-direction: column;
    }

    header, .hero-container , main {
        width: auto;
    }
    #members {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    #members section {
        width: 100%;
    }

    .cta, .update {
        flex-direction: column;
        align-items: center;
        padding: 10px;
        margin: 5px 0;
    }
    .cta h2 {
        margin: 10px 0;
    }
    .cta p, .events, .weather, .forecast-card {
        width: 100%;
        margin: 10px 0;
        padding: 10px;
        box-sizing: border-box;
    }
    .events {
        height: auto;
        overflow-y: visible; /* Remove scrolling on smaller screens */
    }
    .weather {
        margin-left: 0;
    }
    .spotlights h4 {
        margin-left: 0;
    }
    label {
        grid-template-columns: 1fr;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .sidebar {
        margin: 10px 10px;
    }

    .main-content {
        margin-left: 2%;
    }
    figure {
        width: calc(33.333% - 2%);
    }
}

