@media (max-width: 400px) {
    header, .hero-container , main {
        width: auto;
    }
    #members {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    #members section {
        width: 100%;
    }
    
}